{% extends "layout/base.html" %}
{% block title %} About Me {% endblock %}
{% block contents %}
<div class="container mx-auto px-4 py-8 dark:text-white">
    <section class="mb-12">
        <div class="max-w-3xl mx-auto">
            <div class="flex items-center justify-center mb-8">
                <img src="https://via.placeholder.com/150" alt="Profile Picture" class="w-32 h-32 rounded-full">
            </div>
            <h2 class="text-3xl font-semibold mb-4">About me</h2>
            <p class="leading-relaxed">
                I am a person with a diverse background in information technology development. Proficient in web and desktop application development, I possess extensive knowledge of prominent programming languages such as C#, Python, Go, C/C++, HTML, CSS, along with frameworks like Django, Flask, .NET and Tailwind. Additionally, I have a keen interest in the field of malware analysis.
            </p>
        </div>
    </section>
    <section class="mb-12">
        <div class="max-w-3xl mx-auto">
            <h2 class="text-2xl font-semibold mb-4">Interests</h2>
            <p class="leading-relaxed">
                In my free time, I enjoy listening to music, coding, and playing chess. Also i like to learn malware development and reverse engineering, i like it so hard.
            </p>
        </div>
    </section>
    <section>
        <div class="max-w-3xl mx-auto">
            <h2 class="text-2xl font-semibold mb-4">Reach Me</h2>
            <p class="leading-relaxed">
                Feel free to reach out to me via email at <a href="mailto:benjamindguntara@protonmail.com" class="text-blue-500">benjamindguntara@protonmail.com</a> or connect with me on <a href="https://www.linkedin.com/in/benjamin-guntara-2565a621a/" class="text-blue-500">LinkedIn</a>.
            </p>
        </div>
    </section>
</div>
{% endblock contents%}