{% extends "layout/base.html" %}
{% block title %} Feedback{% endblock %}

{% block contents %}
<section class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-semibold text-center mb-8">Give me feedback</h1>
    <form method="post" action="{% url "feedback" %}" class="max-w-lg mx-auto">
        {% csrf_token %}
        <div class="mb-4">
            <label for="name" class="block  font-bold mb-2">Name</label>
            {{ forms.username }}
        </div>
        <div class="mb-4">
            <label for="email" class="block font-bold mb-2">Email</label>
            {{ forms.email }}
        </div>
        <div class="mb-4">
            <label for="message" class="block font-bold mb-2">Subject</label>
            {{ forms.message }}
        </div>
        <div class="text-center">
            <input type="submit" value="send" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
        </div>
    </form>
</section>
{% endblock contents %}