{% extends "layout/base.html" %}
{% block title %} Home {% endblock %}

{% block contents %}
<section class="px-36 p-4 relative">
    <div class="text-center px-128 py-20">
        <h1 class="text-6xl font-extrabold"><span class="text-emerald-600">Benjamin</span> Guntara</h1>
        <h2 class="text-xl font-medium text-slate-500 mb-5 py-4">I'am Software developer / Cybersecurity enthusiast</h2>
        <p class="text-xl mb-10 text-slate-300 leading-relaxed">Loves <span class="text-blue-600">Malware Analysis</span> & <span class="text-blue-600">Reverse Engineering</span></p>
        <div></div>
    </div>
</section>
{% endblock contents %}