{% extends "layout/base.html" %}
{% block title %} Home {% endblock %}
{% block navbar%} {% include "components/navbar.html" %} {% endblock%}
{% block contents %}
<section class="relative text-white flex items-center justify-center px-4 py-8">
  <div class="relative z-10 max-w-4xl text-center px-6">
    <h1 class="text-4xl sm:text-5xl md:text-6xl font-extrabold tracking-tight mb-4"><span class="text-emerald-500">Benjamin</span> Guntara</h1>
    <p class="text-lg md:text-xl mb-8">[Malware Analysis enthusiast] [Reverse Engineering enthusiast] [Cybersec enthusiast] [Software Developer]</p>
    <a href="{% url 'resume' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-full inline-block shadow-lg transition duration-300 ease-in-out">See my resume</a>
  </div>
</section>
<section class="container mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-3xl font-bold">
     Recent
      <span class="text-blue-400">
        Projects
      </span>
    </h2>
    <a class="text-blue-400 hover:underline" href="{% url 'project'%}">
      View all Project
      <i class="fas fa-arrow-right">
      </i>
    </a>
  </div>
  {% for project in projects %}
  <div class="bg-gray-800 p-6 rounded-lg mb-6 flex items-center overflow-hidden break-words">
    <div>
      <h2 class="text-xl font-bold">{{ project.name}}</h2>
      <div class="flex space-x-2 mt-2 break-words">
        <span class="bg-pink-500 text-white px-2 py-1 rounded-full text-xs">Astro.js</span>
        <span class="bg-green-500 text-white px-2 py-1 rounded-full text-xs">Web design</span>
        <span class="bg-blue-500 text-white px-2 py-1 rounded-full text-xs">Tailwind.css</span>
        <span class="bg-red-500 text-white px-2 py-1 rounded-full text-xs">TypeScript</span>
      </div>
      <p class="mt-4 text-gray-400 break-words">{{ project.description}}</p>
    </div>
  </div>
  {% endfor %}
</section>
<section class="container mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-6">
   <h2 class="text-3xl font-bold">
    Recent
    <span class="text-blue-400">
     Posts
    </span>
   </h2>
   <a class="text-blue-400 hover:underline" href="{% url 'article'%}">
    View all Posts
    <i class="fas fa-arrow-right">
    </i>
   </a>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    {% for article in articles %}
    <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg">
      <img alt="A laptop on a desk with a notebook and a cup of coffee" class="w-full h-48 object-cover" height="400" src="{{ article.thumbnail.url}}" width="600"/>
      <div class="p-4">
        <h3 class="text-xl font-bold mb-2 break-words">{{article.title}}</h3>
        <p class="text-gray-400 text-sm mb-4">{{ article.date}}</p>
        <p class="text-gray-300 break-words">{{article.description}}</p>
        <div class="flex flex-wrap mt-4">
          {% for tag in article.tags.all %}
          <span class="inline-block bg-blue-500 text-white rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ tag }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock contents %}

{% block footer %} {% include "components/footer.html" %}{% endblock %}