{%extends "layout/base.html"%}
{%block title %} Home {%endblock%}

{% block navbar %}
<nav class="overflow-hidden">
    <a href="#" class="block float-left text-center p-4 text-sm no-underline border-b-0">Home</a>
    <a href="#" class="block float-left text-center p-4 text-sm no-underline border-b-0">Article</a>
    <a href="#" class="block float-left text-center p-4 text-sm no-underline border-b-0">Video Player</a>
</nav>
{% endblock navbar%}

{%block contents%}
<div class="bg-gray-800 h-2/4">
    <div class="text-center absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 text-white text-xl">
        <h1>Benjamin Guntara</h1>
        <p>pepek</p>
    </div>
</div>
{%endblock contents%}
{% block footer %}
{% endblock footer%}