<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ article.title }}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="box-border">
        <article class="max-w-2xl px-6 py-24 mx-auto space-y-16 dark:bg-gray-100 dark:text-gray-900">
            <div class="w-full mx-auto space-y-4">
                <h1 class="text-5xl font-bold leading-none break-words">{{article.title}}</h1>
                <div class="flex flex-wrap space-x-2 text-sm dark:text-gray-600">
                    {% for blog in article.tags.all %}
                    <a rel="noopener noreferrer" href="#" class="p-1 hover:underline">#{{blog}}</a>
                    {% endfor %}
                </div>
                <p class="text-sm dark:text-gray-600">by
                    <a href="#" target="_blank" rel="noopener noreferrer" class="hover:underline dark:text-violet-600">
                        <span>{{article.author}}</span>
                    </a>on
                    <span>{{ article.date}}</span>
                </p>
            </div>
            <div class="dark:text-gray-800 break-words">
                {{ article.content | safe }}
            </div>
        </article>
    </body>
</html>